
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  background: #fcfcfc;
}

body {
  font-family: sans-serif;
}
.noscroll {
	overflow: hidden;
}


.content {
  display: block;
  min-height: 100vh;
  max-width: 40rem;
  margin: 2.5rem auto;
  padding: 1.5rem;
}

h1{
  font-size: 24px;
  color: red;
  text-decoration-color: red;
}

.content .video{
  position: relative;
  font-size: 0;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
}
